* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #333;
  font-size: 1rem;
}
header,
main,
footer {
  margin: 2rem;
  padding: 2rem;
}
header p {
  font-size: 1.2rem;
}
main {
  background-color: rgb(145, 105, 63);
}
header,
footer {
  background-color: rgb(164, 192, 192);
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.circle {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  box-shadow: 0 0 5px #333;
  border: none;
  background-color: blanchedalmond;
  text-align: center;
  padding: 80px;
  font-size: 2rem;
}

.even {
  background-color: rgb(80, 77, 78);
  color: white;
}
.odd {
  background-color: rgb(68, 179, 191);
  color: white;
}
.box-button {
  display: flex;
}
.box-button button {
  background-color: rgb(164, 192, 192);
  display: block;
  width: 10rem;
  height: 3rem;
  border-radius: 5px;
  margin: 2rem;
  box-shadow: 0 0 5px #333;
  border: none;
  font-size: 1.2rem;
}
button:hover {
  background-color: rgb(164, 192, 192);
}
